@define-color soft-black #000100;
@define-color soft-white #EAEFFE;
@define-color soft-purple #9787F3;
@define-color deep-purple #2D274B;
@define-color balanced-blue #6ba6cb;
@define-color good-green #6bcb77;
@define-color warning-yellow #fff067;
@define-color critical-red #ff3d3d;

/* Everything */
* {
  color: @soft-white;
  font-family: "Source Code Pro", sans-serif;
  font-size: 12pt;
}

/* Just the bar */
window#waybar {
  background-color: transparent;
  margin: 0px 1px;
}

/* Clock */
#clock {
  color: @soft-white;
  font-weight: bold;
}

/* Workspace */
#workspaces {
  border-radius: 2px;
}

#workspaces .active {
  background: @soft-purple;
}

/* CPU / Memory */
#cpu,
#battery,
#memory {
  color: @soft-white;
  padding-right: 10px; /* these icons are kinda annoying and go up to the edge */
}

/* Network */
#network {
  color: @soft-purple;
}

/* Custom hover effects */
#workspaces .active:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#disk:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#battery:hover {
  background-color: @soft-purple;
  color: @soft-black;
}

/* Separator */
.separator {
  color: #f8f3f1;
}

/* Module boxes */
.module {
  padding: 2px 4px;
  border-radius: 6px;
}

/* Alerts */
#disk.good,
#cpu.good,
#memory.good,
#temperature,
#battery.good {
  color: @good-green;
}

#disk.warning,
#cpu.warning,
#memory.warning,
#temperature.warning,
#battery.warning {
  color: @warning-yellow;
}

#disk.critical,
#cpu.critical,
#memory.critical,
#temperature.critical,
#battery.critical {
  color: @critical-red;
}

#power-profiles-daemon.power-saver {
  color: @good-green;
}

#power-profiles-daemon.balanced {
  color: @balanced-blue;
}

#power-profiles-daemon.performance {
  color: @critical-red;
}

tooltip {
  background: rgba(151, 135, 243, 0.7); /* Soft purple with 70% opacity */
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: @soft-white;
  border-radius: 12px;
}
