@define-color soft-black #000100;
@define-color soft-white #EAEFFE;
@define-color soft-purple #9787F3;
@define-color deep-purple #2D274B;

/* Overall bar */
* {
  background-color: transparent;
  font-family: "Source Code Pro", sans-serif;
  font-size: 12pt;
  margin: 0px 2px;
  color: @soft-white;
}

/* Clock */
#clock {
  color: @soft-white;
  font-weight: bold;
}

/* Workspace */
#workspaces {
  border-radius: 4px;
}

#workspaces .active {
  background: @soft-purple;
}

/* Battery */
#battery {
  color: #6bcb77;
}

/* CPU / Memory */
#cpu,
#memory {
  color: @soft-white;
  padding-right: 10px; /* these icons are kinda annoying and go up to the edge */
}

/* Network */
#network {
  color: @soft-purple;
}

/* Custom hover effects */
#workspaces .active:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#disk:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#battery:hover {
  background-color: @soft-purple;
  color: @soft-black;
}

/* Separator */
.separator {
  color: #f8f3f1;
}

/* Module boxes */
.module {
  padding: 2px 4px;
  border-radius: 6px;
}

/* Alerts */
.warning {
  color: #ff6b6b;
  font-weight: bold;
}

.critical {
  color: #ff3d3d;
  font-weight: bold;
}

tooltip {
  background: rgba(151, 135, 243, 0.7); /* Soft purple with 70% opacity */
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: @soft-white;
  border-radius: 12px;
}
